<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<form action="/users/add" method="post">
			<input type="text" name="username" placeholder="Username" />
			<input type="password" name="password" placeholder="Password" />
      <input type="text" name="firstName" placeholder="First Name">
      <input type="text" name="lastName" placeholder="lastName">
      <input type="text" name="email" placeholder="email">
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>
